<!DOCTYPE html>
<html>
  <head>
    <title>Pattern Gallery</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Karla", serif;
      }
      .grid-container {
        display: grid;
        grid-template-columns: repeat({{grid_size}}, 100px);
        grid-gap: 10px;
      }
      .grid-item {
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: -5px; /** Remove space between */
      }
      img {
        max-width: 100px; /* Adjust for downscaling */
        max-height: 100px;
        width: 100%;
        height: 100%;
        image-rendering: pixelated;
      }
      p {
        z-index: 100;
        top: -10px;
        opacity: 1;
        font-size: 15px;
      }
      button {
        margin-bottom: 20px;
      }
      #toast-container {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999;
      }
      .toast {
        background-color: #333;
        color: white;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
        opacity: 0;
        transition: opacity 0.5s, margin-top 0.5s;
      }
    </style>
  </head>
  <body>
    <h1>Gallery for {{ pattern_name }}</h1>
    <button onclick="window.location.href = '/';">
      Back to Pattern selection
    </button>

    <div class="grid-container">
      {% for image in images %}
      <div class="grid-item">
        <img
          src="{{ url_for('send_image', pattern_name=pattern_name, filename=image.name) }}"
          onclick="copyImage(this.src)"
        />
        <p onclick="copyText('{{ image.name[:-4] }}')">{{ image.name[:-4] }}</p>
      </div>
      {% endfor %}
    </div>

    <div id="toast-container"></div>

    <script>
      function copyImage(imagePath) {
        // Create an image element
        var img = new Image();
        img.src = imagePath;
        img.onload = function () {
          // Create a canvas element
          var canvas = document.createElement("canvas");
          canvas.width = img.width;
          canvas.height = img.height;

          // Draw the image onto the canvas
          var ctx = canvas.getContext("2d");
          ctx.drawImage(img, 0, 0);

          // Convert the canvas content to a blob and then copy it to the clipboard
          canvas.toBlob(function (blob) {
            navigator.clipboard
              .write([new ClipboardItem({ "image/png": blob })])
              .then(function () {
                showToast("🖼️ Image copied to clipboard.");
              })
              .catch(function (error) {
                showToast("Error copying to clipboard: " + error);
              });
          }, "image/png");
        };
      }
      function copyText(text) {
        navigator.clipboard
          .writeText(text)
          .then(function () {
            showToast("📝 copied to clipboard. (Image name!)");
          })
          .catch(function (error) {
            showToast("Error copying to clipboard: " + error);
          });
      }
      function showToast(message) {
        // Create toast element
        var toast = document.createElement("div");
        toast.className = "toast";
        toast.textContent = message;

        // Add toast to the container
        var container = document.getElementById("toast-container");
        container.appendChild(toast);

        // Show toast
        setTimeout(() => {
          toast.style.opacity = 1;
          toast.style.marginTop = "0px";
        }, 100);

        // Hide and remove toast after 3 seconds
        setTimeout(() => {
          toast.style.opacity = 0;
          toast.style.marginTop = "-10px";
          toast.addEventListener("transitionend", () => toast.remove());
        }, 3000);
      }
    </script>
  </body>
</html>
