<!DOCTYPE html>
<html>
  <head>
    <title>Pattern Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Karla", serif;
      }
    </style>
  </head>
  <body>
    <h1>Pattern Galleries</h1>
    <ul>
      {% for pattern in patterns %}
      <li>
        <a href="{{ url_for('gallery', pattern=pattern) }}">{{ pattern }}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
